@{
    ViewBag.Title = "iHeart Colson";
}

<div class="row">
    <div class="span12">
        <div class="row">
            <div class="span5 offset3">
                <div class="hero-unit">
                    <h2>iHeart Colson!</h2>
                    <p>Happy Valentine's Day to my beautiful wife, Colson Mason!  I love you!  God has truly blessed me!</p>
                    <a href="#myModal" role="button" class="btn btn-danger" data-toggle="modal">Get a kiss!</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="span5 offset3">
                <img src="http://i.imgur.com/IjVO5AZ.jpg" class="img-polaroid"/>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>Muah!</h3>
  </div>
    <div class="modal-body" style="background-color: darkred">
        <div>
            <img src="http://i.imgur.com/jisRsh0.gif" class="img-circle" style="display: block;margin-right: auto;margin-left: auto;height: 50%;width: 50%;"/>
        </div>
    </div>
  <div class="modal-footer">
    <a href="#" class="btn btn-danger" data-dismiss="modal">Close</a>
  </div>
</div>